**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

# Git
.git
.gitignore
.github

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Logs
logs
*.log

# Runtime data
data
downloads
cloud-storage

# Secrets
secrets
.env
*.env
.htpasswd

# Editor directories and files
.vscode
.idea
*.swp
*.swo
.history

# Node.js
node_modules
npm-debug.log

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Misc
.DS_Store
Thumbs.db 

src/sso-portal