
ACME_DIRECTORY_URL=
ACME_JSON_PATH=
AUTH_SECRET=
CF_API_EMAIL=
CF_API_KEY=
CF_DNS_API_TOKEN=
CF_ORIGIN_API_KEY=
CF_ZONE_API_TOKEN=
CLOUDFLARE_API_KEY=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_DNS_API_TOKEN=
CLOUDFLARE_EMAIL=
CLOUDFLARE_HTTP_TIMEOUT=
CLOUDFLARE_ORIGIN_API_KEY=
CLOUDFLARE_POLLING_INTERVAL=
CLOUDFLARE_PROPAGATION_TIMEOUT=
CLOUDFLARE_TTL=
CLOUDFLARE_ZONE_API_TOKEN=
DOMAIN=
DUCKDNS_SUBDOMAIN=
DUCKDNS_TOKEN=
DUPLICATI__WEBSERVICE_PASSWORD=
DUPLICATI_SETTINGS_ENCRYPTION_KEY=
EMAIL=
GLAUTHUI_DB_PASSWORD=
GLAUTHUI_DB_ROOT_PASSWORD=
GLAUTHUI_SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GRAFANA_PASSWORD=
GRAFANA_USERNAME=
IMGUR_CLIENT_ID=
IMGUR_CLIENT_SECRET=
JACKETT_API_KEY=
JELLYFIN_API_KEY=
JELLYSEERR_API_KEY=
JELLYSTAT_JWT_SECRET=
JELLYSTAT_POSTGRES_PASSWORD=
KEYCLOAK_POSTGRES_PASSWORD=
KEYCLOAK_POSTGRES_ROOT_PASSWORD=
KHOJ_ADMIN_EMAIL=
KHOJ_ADMIN_PASSWORD=
KHOJ_DJANGO_SECRET_KEY=
LETS_ENCRYPT_EMAIL=
LIDARR_API_KEY=
MEILI_MASTER_KEY=
OAUTH_SECRET=
OCI_COMPARTMENT_OCID=
OCI_PRIVKEY_FILE=~/.ssh/myoraclecloudkey.pem
OCI_PRIVKEY_PASS_BASE64=
OCI_PRIVKEY=
OCI_PUBKEY_FINGERPRINT=
OCI_REGION=
OCI_TENANCY_OCID=
OCI_USER_OCID=
OVERSEERR_API_KEY=
PGID=
PLAYWRIGHT_PROXY_PASSWORD=
PLAYWRIGHT_PROXY_USERNAME=
PLEX_CLAIM=claim-
PLEX_TOKEN=18rS6gM--U
POSTGRES_PASSWORD=
PREMIUMIZE_API_KEY=
PROVIDERS_GOOGLE_CLIENT_ID=
PROVIDERS_GOOGLE_CLIENT_SECRET=
PROVIDERS_GOOGLE_COOKIE_SECRET=
PROWLARR_API_KEY=
PUID=1001
QBITTORRENT_PASSWORD=
QBITTORRENT_USERNAME=
QDIRSTAT_VNC_PASSWORD=
RADARR_API_KEY=
READARR_API_KEY=
SABNZBD_API_KEY=
SETTINGS_ENCRYPTION_KEY=
SONARR_API_KEY=
SPEEDTEST_TRACKER_ADMIN_EMAIL=
SPEEDTEST_TRACKER_ADMIN_NAME=
SPEEDTEST_TRACKER_ADMIN_PASSWORD=
SPEEDTEST_TRACKER_APP_KEY=
TMDB_API_KEY=
TZ=America/Chicago
UMASK=022
VECTORDB_PORT=6333
VECTORDB_POSTGRES_PASSWORD=
VECTORDB_POSTGRES_USER=
WEBUI_SECRET_KEY=
WHISPARR_API_KEY=
ZEROSSL_API_KEY=