.gitattributes
.history
.venv
*.db-shm
*.db-wal
*.sqlite
*lock_v2*
configs/recyclarr/repositories/config-templates
configs/audiobookshelf/metadata/logs
configs/bazarr/config/log
configs/deluge/deluged.pid
configs/deluge/stats.totals
configs/deluge/stats.totals*
configs/duplicati/Duplicati-server.sqlite
configs/glauthui/mariadb/*.log
configs/glauthui/mariadb/aria_log*
configs/homepage/logs
configs/janitorr/logs
configs/jellyfin/config/log
configs/jellyfin/config/log
configs/jellyseerr/config/logs
configs/jellyseerr/config/logs/.machinelogs-2025-03-18.json
configs/kavita/config/logs
configs/khoj/**/blobs
configs/khoj/config/khoj.log
configs/khoj/db/base
configs/khoj/db/postmaster.pid
configs/khoj/models
configs/kometa/config/logs
configs/kometa/config/logs/*.log
configs/komga/logs
configs/librechat/data-node/journal/WiredTiger*
configs/librechat/data-node/WiredTiger*
configs/lidarr/config/logs
configs/lidarr/config/logs*
configs/overseerr/config/db
configs/overseerr/config/logs
configs/plex/config/osx-config
configs/plex/config/osx-config/Cache/PhotoTranscoder
configs/plex/config/osx-config/Logs
configs/postgresql/base
configs/prefetcharr/jellyfin/log
configs/qbittorrent/config/qBittorrent/logs
configs/radarr/config/logs
configs/readarr/config/logs
configs/sonarr/config/logs
configs/sonarr/config/logs.db
configs/speedtest-tracker/database.sqlite
configs/speedtest-tracker/log
configs/speedtest-tracker/log/nginx/*.log
configs/tautulli/*.db
configs/tautulli/backups
configs/tautulli/cache/github_version.json
configs/tautulli/logs
configs/unpackerr/logs
configs/whisparr/config/logs
configs/wizarr/*.log
configs/wizarr/logs.log
configs/wizarr/sessions
data
downloads
logs.db
secrets
docker
.cursor
node_modules
**/node_modules
cloudunion
src
.roo