


# Google provider
client-id="644514655858-tgvhmbohi34bq8sgl227r81ikqukihl2.apps.googleusercontent.com"
client-secret="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"
cookie-domains=".oauth2-proxy.localhost" # Required so cookie can be read on all subdomains.
cookie-secret="OQINaROshtE9TcZkNAm-5Zs2Pv3xaWytBmc5W7sPX7w="
cookie-secure="false"
email-domains="*"
http-address="0.0.0.0:4180"
oidc-issuer-url="https://accounts.google.com"
provider-display-name="Google"
provider="google"
redirect-url="https://oauth.bolabaden.org/oauth2/callback"
# Mandatory option when using oauth2-proxy with traefik
reverse_proxy="true"
# The following option skip the page requesting the user
# to click on a button to be redirected to the identity provider
# It can be activated only when traefik is not configure with
# the error redirection middleware as this example.
skip_provider_button="true"
# Required for traefik with ForwardAuth and static upstream configuration 
upstreams="static://202"
whitelist-domains=".oauth2-proxy.localhost" # Required to allow redirection back to original requested target.